<div class="footer">
    <div class="footerGrid">
        <div></div>
        <div class="childGrid">
            <div class="insideGrid"><a href="https://rahenejat.group/magazine/" target="_blank" >دانلود ماهنامه</a></div>
            <div class="insideGrid"><a href="https://www.roozesevom.com/soti/" target="_blank">کتاب صوتی</a></div>
            <div class="insideGrid"><a href="https://rahenejat.group/bible/wholebible.pdf" target="_blank">کتاب مقدس</a></div>
            <div class="insideGrid"><a href="https://raahnejat.wordpress.com/" target="_blank">وب لاگ</a></div>
            <div class="insideGrid"><a href="https://kristiannasiri.wixsite.com/raahnejat" target="_blank">WIX</a></div>
        </div>
        <div></div>
    </div>        
</div>