<div class="historyMain">
</div>

<div class="historyGrid">
  
در بامداد یکشنبه ۳۱ اکتبر ۱۵۱۷ کشیش خشمگین یک شهر کوچک آلمانی کاغذی در دست با گامهای بلند به سوی کلیسای آبادی رفت، متنی که شبانه آماده کرده بود را با چند میخ به در بزرگ و چوبی کلیسا چسباند تا همه مؤمنان آن را بخوانند. او در ادعانامه خود گفته بود که هیچ بنده‌ای از دیگران به خدا نزدیکتر نیست و احدی حق ندارد خود را نماینده خداوند در روی زمین بداند.
<br/>
کشیش ۳۳ ساله شهر ویتنبرگ مارتین لوتر نام داشت. او به نابسامانی‌های کلیسا اعتراض داشت اما از اهمیت اقدام خود بی‌خبر بود. بعدها تاریخ‌نگاران ضربات پرطنین چکش او را بسان زنگ ناقوسی دانستند که مرگ قرون وسطا را اعلام کرد.
<br/>
مارتین لوتر دین را پیوندی روحانی میان آفریدگار و بندگان او می‌دید و جز پالودن دین و ایمان از آرایه‌ها و زایده‌های خرافی که ارباب کلیسا به آن بسته بودند، چیزی نمی‌خواست.
<br/>
اقدام فردی مارتین لوتر به زودی طنینی عظیم پیدا کرد، پایه‌های کلیسای کاتولیک را لرزاند و سرانجام به پیدایش کیش پروتستان انجامید که دین مسیح را یکسره دگرگون کرد و آن را به مسیری تازه انداخت و آن را برای هماهنگی با مقتضیات روزگار نو آماده ساخت.
</div>
<div class="historyImage">
    <img  src="assets/louter.jpg" alt="slide">
</div>
<div class="historyGrid">
  <span style="font-weight: bold;">مبارزه با انحرافات کلیسا</span>
<br/><br/>
مارتین لوتر که پس از تحصیل الهیات به سمت واعظ اصلی کلیسای ویتنبرگ انتخاب شده بود، به تدریج با فساد ارباب کلیسا و زندگی گناه‌آلود همکاران خود آشنا شد.
<br/>
بسیاری از کشیشان که پیروان مسیح را به نعمت و آسایش در «حیات بعدی»‌ حواله می‌دادند،‌ خود در همین «دنیای فانی» سرگرم پول‌اندوزی و خوشگذرانی بودند. آنها با استفاده از ناآگاهی عوام، خود را فرستادگان و نمایندگان خدا در روی زمین می‌خواندند، در ازای پول برای آنها نزد خداوند «شفاعت» می‌کردند و به آنها سندهایی می‌فروختند که تمام گناهانشان را می‌بخشید و رفتن آنها را به بهشت تضمین می‌کرد.
<br/>
ادعانامه‌ای که مارتین لوتر در ۹۵ ماده یا تز تنظیم کرده بود و آن را به در کلیسای بزرگ شهر آویخت، بازتاب طغیان روحی او بود. او کلیسای کاتولیک را متهم می‌کرد که وظیفه اصلی خود،‌ یعنی تعلیم آموزه‌های مسیح را به فراموشی سپرده است و‌ مؤمنان را از فیض و رحمت الهی دور می‌کند.
<br/>
کشیشانی که لوتر کسب و درآمد آنها را به خطر انداخته بود، نزد پاپ، پیشوای کلیسای کاتولیک، که در واقع بر اروپای آن روز و بر تمام جهان مسیحی حکم می‌راند، شکایت بردند.
<br/>
پاپ، کشیش جوان را به رم فرا خواند و او را به تکفیر تهدید کرد. لوتر نه تنها به احضار و تهدید او وقعی ننهاد، بلکه نامه تحکم‌آمیز پاپ را در اقدامی تهورآمیز به آتش افکند و فریاد برداشت که پاپ یک بنده عادی پروردگار است،‌ پس چه حق دارد درباره کفر و ایمان بندگان دیگر داوری کند؟
<br/>
لوتر راه گریز در پیش گرفت و به زندگی مخفیانه روی آورد. زندگی در خلوت و انزوا چند سالی به او فرصت داد ک به افکار خود سروسامان دهد و کتاب مقدس را به زبان آلمانی ترجمه کند. اقدامی مهم و تهورآمیز که از راهی دیگر اقتدار ارباب کلیسا را به چالش گرفت.
<br/>
کشیشان کلام خدا را در انحصار خود در آورده و تفسیر کتاب مقدس را حق انحصاری خود می‌دانستند تا مردم عادی را همواره در جهل و وابستگی نگاه دارند.
<br/>
لوتر از سرنوشت یان هوس (۱۴۱۵ - ۱۳۷۱) باخبر بود. آن روحانی اهل بوهم متن کتاب مقدس را از لاتین به زبان چک ترجمه کرده بود تا به مؤمنان بگوید آگاهی از تعالیم مسیح در انحصار کلیسا نیست و هر بنده خدایی می‌تواند با خواندن "کتاب مقدس" از پیام واقعی خداوند آگاه شود. هوس به جرم ایستادگی در برابر کلیسا به عنوان "جادوگر" به هیمه آتش سپرده شد.
</div>
<div class="historyImage">
    <img  src="assets/louter2.jpg" alt="slide">
</div>
<div class="historyGrid">
  <span style="font-weight: bold;">بنیادهای رفورم دینی لوتر</span>
    <br/><br/>
    در تزهای ۹۵ گانه مارتین لوتر چند گزاره بنیادی وجود دارد که برای جنبش اصلاح دینی بسیار پراهمیت است:
    <br/><br/>
    خداوند همه بندگان خود را برابر آفریده و همه به یکسان به او نزدیک هستند، پس کشیشان یا روحانیان نمی‌توانند مدعی شوند که به خداوند نزدیک‌تر هستند یا از سوی او نمایندگی دارند.
    <br/><br/>
    ایمان دینی حاصل پیوند روحانی و مستقیم میان خداوند و قلب انسان است. پس امری وجدانی و آزادانه است، یعنی اگر از روی جهل یا با فشار باشد هیچ ارزشی ندارد.
    <br/><br/>
    پیوند انسان با خداوند به طور مستقیم و از راه درک کلام الهی انجام می‌گیرد که در کتاب مقدس منقول است و در دسترس همگان قرار دارد. این رابطه به میانجی یا واسطه نیاز ندارد، پس روحانیان حق ندارند خود را واسطه ارتباط بشر با خدا بدانند و این را امتیازی برای خود بشمارند.
    <br/><br/>
    این چند تز ساده جهان‌بینی قرون وسطا را که یکسره بر دین استوار بود، از ریشه تکان داد، هم ایمان دینی را از گزند مقامات دنیوی محفوظ نگه داشت و هم راه را برای پیشرفت جامعه بشری بر پایه علم و خرد هموار کرد.
    <br/>
    

</div>

<div id="bottomText"> 
    لوتر در سال‌های پایانی زندگی شاهد گسترش افکار و باورهای خود بود . او در ۱۸ فوریه ۱۵۴۶ در ۶۲ سالگی درگذشت و در پایگاه وعظ و تدریس خود یعنی کلیسای ویتنبرگ به خاک سپرده شد 

</div>