<div class="collapseGrid">
  <div></div>
  <div>

<!--------------------------->
 
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0 mb-0_dire">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            مسیحیت
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body card-bodyDir">
          مسیحیت یک دین نیست ، یک آیین نیست . یک مذهب نیست . یک عقیده نیست . مسیحیت تغییر از یک دین به دین دیگر نیست . یک جور بیداری ، یک جور رابطه ، یک جور تغییر است ،  تغییری خیلی بزرگ . و اما اگر پس از باور و قبول عیسی مسیح به عنوان منجی و خداوند و صاحب قلبت دیدی هیچ تغییری در تو رخ نداده ، و یدا هیچگونه شفای جسمی ، روحی و روانی پیدا نکرده ای و یا هیچ عادت بدی را ترک نکرده ای بدان که یا اصال مسیحی نشده ای و یا هنوز در روح رشد نکرده ای .
            </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0 mb-0_dire">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            دعای آخر
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body card-bodyDir">
          دل قوی دارید ،
          به سلامتی به سوی جهان بروید ،
          سست دلان را نیرو بخشید ،
          ضعیفان را حمایت کنید ،
          به آنچه نیکوست متمسک شوید ،
          به هیچ کس به عوض بدی ، بدی مرسانید ،
          بلکه با جمیع مردم به نیکویی رفتار کنید
          و در نیروی روح القدس شاد باشید .
          و حال فیض خداوند ما عیسی مسیح ،
          محبت خدای پدر و رفاقت و شراکت روح القدس با جمیع شما باد
          از الآن و تا ابدالآباد      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0 mb-0_dire">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          هفت مورد دعا برای فرزندانمان
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body card-bodyDir">
          ۱- دعا کنید که عیسی مسیح آنها را خواند هیچ کس مانع آمدن آنها نشود .<br>
          ۲- دعا کنید با ایمان به ندای وفادارانه عیسی مسیح پا سخ دهند .<br>
          ۳- دعا کنید که آنها قدوسیت را از طریق کار مبدل کننده  روح القدوس تجربه کرده  و د ئماً  آماده  نجام  بزرگترین احکام باشند .<br>
          ۴- دعا کنید که آنها زیر یوغ ناموافق با بی ایمانان مخصوصا در روابط نزدیک الخصوص ازدواج نشوند .<br>
          ۵- دعا کنید که افکارشان پاک و خالص باشد .<br>
          ۶- دعا کنید که قلبشان تشویق گردد تا سخاوتمندانه برای کار خداوند بخشش کنند .<br>
          ۷- دعا کنید که هر زمان که وقت مناسب باشد برای کار خداوند خارج شوند . <br>
          
        </div>
    </div>
  </div>
</div>
<!--------------------------->
  </div>
  <div></div>
</div>
