<div class="mehdi">
  <div class="mehdiin"><img width="100" height="100" src="assets/mehdi.png" alt="Second slide"></div>
  <div class="mehdiin">    مهدی خدایی  ، آمادی پاسخگویی به کلیه سؤالهای شما عزیزان به ویژه نو کیشان عزیز می باشد .  </div>
</div>
<div class="mehdiinfo">
  <a href="https://www.facebook.com/100026395152289/posts/140868673469637/?d=n" target="_blank"> Facebook : Mehdi Khodaei </a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Email : mehdikhodaei.90@gmail.com
</div>
<hr>
<div class="question">۱ - آیا خدا وجود دارد ؟</div>
<div class="answer">
  هیچگاه نمی توان (بطور مطلق) وجود خدا را ثابت و یا انکار کرد. کتاب مقدس به ما می گوید که حقیقت وجود خدا را باید با ایمان پذیرفت. "اما خشنود ساختن خدا بدون ايمان و توكل به او محال است. هر كه میخواهد بسوی خدا بيايد، بايد ایمان داشته باشد كه خدا هست و به آنانی كه با دلی پاک در جستجوی او هستند، پاداش میدهد" (عبرانیان فصل 11 آیه 6). اگر خدا می خواست، می توانست به راحتی خود را ظاهر سازد و هستی خویش را به همۀ دنیا ثابت کند. ولی در این صورت دیگر نیازی به ایمان نبود. " عیسی گفت: "ای توما، بعد از اينكه مرا ديدی، ايمان آوردی. ولی خوشا بحال کسانی كه ندیده به من ايمان می‌آورند." (یوحنا 29:20)
</div>
<hr>
<!-------------------------------------->
<div class="question">۲ - آیا کتاب مقدس، واقعا کلام خداست ؟</div>
<div class="answer">
  پاسخ ما به این پرسش بیانگر طرز نگرش ما به کتاب مقدس، اهمیت آن در زندگی شخصی ما، و در نهایت تاثیر جاودانی آن در زندگیمان می باشد. اگر کتاب مقدس واقعاً کلام خداست، بنابراین بایستی به آن اهمیت بدهیم، از اصول آن پیروی نماییم، و نهایتاً به آن اعتماد کنیم. اگر کتاب مقدس کلام واقعی خداست، هر گونه بی اهمیتی نسبت به آن، بی اهمیتی نسبت به خداست.
  این واقعیت که خدا کتاب مقدس را در اختیار ما گذاشته است، در واقع نشانگر محبت و توجهی است که او نسبت به ما دارد. مفهوم ساده "مکاشفه" این است که خدا آنچه را که هست و راهی را که بتوان با او رابطه داشت، برای ما مکشوف کرده است. ما به هیچ وجه نمی توانستیم این حقایق را بدانیم اگر خود خدا آنها را در کتاب مقدس برای ما آشکار نکرده بود. هر چند این مکاشفه بصورت تدریجی و در طول 1500 سال به کمال رسید، ولی دربرگیرندۀ تمام حقایقی است که انسان نیاز دارد بداند تا یک رابطه صحیح با خدا داشته باشد. اگر کتاب مقدس کلام واقعی خداست، بنابراین در ارتباط با ایمان، زندگی مسیحی، و اخلاقیات والاترین و مقتدرترین و معتبرترین منبع ما می باشد.

</div>
<hr>
<!-------------------------------------->
<div class="question">۳ - آیا مسیحیان باید از شریعت عهد قدیم، پیروی کنند ؟</div>
<div class="answer">
  نکته کلیدی در رابطه با این موضوع، دانستن این حقیقت است که شریعت عهد قدیم به قوم اسرائیل داده شد؛ نه به مسیحیان. بعضی از قوانین شریعت (برای مثال، ده فرمان) به این جهت بود که یهودیان بدانند چگونه خداوند را اطاعت نموده و او را خشنود سازند. برخی نیز ( مانند فرایض قربانی)، به آنها نشان می داد که چطور خدا را عبادت کنند، بعضی نیز (قوانین مربوط به غذا و لباس) صرفاً به این دلیل مقرر شده بود تا میان یهودیان و سایر اقوام، تمایز ایجاد کنند. امروزه، هیچ کدام از قوانین شریعت عهد قدیم به مسیحیان مربوط نمیشود. مسیح با فدا ساختن جان خود بر روی صلیب، همۀ قوانین شریعت عهد عتیق را به اتمام رساند (رومیان فصل 10 آیه 4؛ غلاطیان فصل 3 آیه های 23 تا 25؛ افسسیان فصل 2 آیه 15).
</div>
<hr>
<!-------------------------------------->
<div class="question">۴ - روح القدس کیست ؟</div>
<div class="answer">
  تصورات اشتباه بسیاری راجع به هویّت روح القدس وجود دارند. بعضی به روح القدس چون نیرویی سحر آمیز نگاه می کنند. عده ای نیز او را چون نیرویی غیر شخصی می دانند که خدا آنرا برای پیروان عیسی مسیح قرار داده است. کلام خدا راجع به هویت روح القدس چه میگوید؟ کتاب مقدس، خیلی ساده و واضح، میگوید روح القدس خداست. همچنین به ما میگوید که روح القدس دارای شخصیت است، وجودی که دارای اندیشه ، اراده و احساس است.
</div>
<hr>
<!-------------------------------------->
<div class="question">۵ - به عنوان یک مسیحی، چگونه می توانم در زندگیم بر گناه چیره شوم ؟</div>
<div class="answer">
  کلام خدا منابعی را معرفی می کند که ما به وسیلۀ آنها می توانیم درمقابله با گناهانمان، پیروز شویم. در این زندگی زمینی ما هرگز بطور کامل نخواهیم توانست بر گناه غلبه کنیم (اول یوحنا فصل 1 آیه 8) اما غلبه کامل بر گناهان همچنان باید هدف ما باشد. با کمک خداوند و با پیروی از اصول کتاب مقدس، می توانیم بتدریج بر گناه غلبه کرده و بیشر و بیشتر شبیه مسیح شویم.
</div>
<hr>
<!-------------------------------------->
<div class="question">۶ - در متی باب 13 آیه 41 و 42 چرا همچین خشونتی ذکر شده ؟</div>
<div class="answer">
  خدا در ضمن اینکه خدایی با مهر و محبت و فیاض و پر از نیکویی و رحمت است، خدایی عادل و قدوس و راست و بری از گناه می باشد و از ناپاکی و خطا نفرت دارد. متأسفانه بسیاری هستند که تصویری اشتباه از خدا دارند و فکر می کنند که خدا تنها دارای خصوصیت نرم و ملایم و با محبت و مهربان و نیکو است. البته که او همه این خصوصیات را دارد. اما برای درک خدا می بایست تمام کتاب مقدس را به عنوان یک مجموعه در نظر داشت. خدا در کتاب مقدس، خدای قادر مطلق و مهیب و عظیم و دانای مطلق و حاضر مطلق و عادل مطلق و حکمت مطلق و... نیز در کنار محبت و لطف و رحمت و مهربانی خویش می باشد.
  بنده به هیچ وجه نمی توانم بپذیرم که افرادی مثل هیتلر و موسولینی واستالین و... که چنین ظلمهایی به جامعه بشری کردند و از خدا تمرّد جستند و این همه کشتار و بی عدالتی را باعث شدند با افرادی مانند مادر ترزا یا آلبرت شوایتز که زندگی خود را فداکارانه برای همه فدا کردند به عقوبت واحدی دچار شوند. مسلماً عدالت غایی در انتظار چنین افرادی می باشد و عیسی مسیح به عدالت الهی خدا که در نهایت اجرا خواهد شد، در این آیات به وضوح اشاره می کند.
  این خدا نیست که چنین افرادی را به این عقوبت دچار می سازد، بلکه انتخاب آزادانه این افراد می باشد که آنها را نهایتاً به چنین جزایی می کشاند.
  </div>
<hr>
<!-------------------------------------->
<div class="question">۷ - دیدگاه کتاب مقدس مسیحیان درباره زنان  چیست ؟</div>
<div class="answer">
  زنان در طبیعت و ذات با مردان برابر هستند
  کتاب مقدس تأیید می کند که زنان از نظر ارزش وجودی با مردان برابر هستند و دارای همان ذات و تصویر الهی هستند که در مردان شناخته شده است.  آنها همچنین از بدنی مشترک با مردان پدید آمده اند .
  آنگاه خدا گفت: " انسان را به صورت خود و شبیه خودمان بسازیم، و او بر ماهیان دریا و بر پرندگان آسمان و بر چارپایان و بر همۀ زمین و همۀ خزندگانی که بر زمین می‌خزند، فرمان براند. پس خدا انسان را به صورت خود آفرید، او را به صورت خدا آفرید؛ ایشان را مرد و زن آفرید." (پیدایش1: 26-27)
    </div>
<hr>
<!-------------------------------------->
<div class="question">۸ - روح‌القدس کیست ؟</div>
<div class="answer">
  روح‌القدس خود خدا است. او یکی از سه شخصیت تثلیث است. همه مسیحیان ایمان دارند که خدا در ذات خود، واحد است، اما در عین حال، همواره در این ذات واحد، سه شکل یا حالت هستی وجود دارد که هر سه کاملا خدا هستند؛ این سه شکل یا حالت عبارتند از: «پدر» ما که در آسمان است، «پسر» که به زمین آمد و انسان شد، و «روح‌القدس» که در قلب ایمانداران زندگی می‌کند. عیسی مسیح و روح‌القدس بخشهایی از خدا نیستند؛ آنان به شکل کامل خدا هستند. درک این موضوع برای ما مشکل است، اما این حقیقتی است که در کتاب مقدس تعلیم داده شده است. برای مثال، هنگامی که عیسی تعمید گرفت، روح‌القدس به شکل کبوتری بر او نازل شد و پدر از آسمان سخن گفت و فرمود:«تو پسر حبیب من هستی» (مرقس ۱: ۹-۱۱). عیسی به ما فرمود که به اسم اب و ابن و روح‌القدس تعمید دهیم (متی ۲۸: ۱۹). پولس رسول چنین دعا کرد: فیض خداوند و محبت خدا و شراکت روح‌القدس با جمیع شما باد (دوم قرنتیان ۱۳: ۱۴). سه شخصیت تثلیث پیوسته در کنار یکدیگر ذکر شده‌اند (افسسیان ۲: ۱۸؛ ۴: ۴-۶؛ یهودا ۲۰: ۲۱).
  هر سه شخصیت یعنی پدر، پسر و روح‌القدس از یکدیگر متمایزند (یوحنا ۱۴: ۱۶-۱۷، ۲۶ ۱۶: ۷-۱۵؛ اول قرنتیان ۱۲: ۴-۶؛ اول پطرس ۱: ۲). اما آنان در عین حال با یکدیگربرابرند. هر سه شخصیت «خدا» خوانده می‌شوند (یوحنا ۶: ۲۷؛ عبرانیان ۱: ۸؛ اعمال ۵: ۳-۴). هر سه حیات می‌بخشند (یوحنا ۵: ۲۱؛ رومیان ۸: ۱۱). هر سه حرمتی را که شایستۀ خدا است، دریافت می‌دارند (یوحنا ۵: ۲۳؛ دوم قرنتیان ۱۳: ۱۴). هر سه ازلی هستند (یوحنا ۱: ۱؛ عبرانیان ۹: ۱۴).
</div>
<hr>
<!-------------------------------------->
<div class="question">۹ - یهوه کیست ؟ کدوم شخص تثلیثه ؟ پدر یا پسر یا روح القدس ؟ کدامیک ؟</div>
<div class="answer">
  پدر و پسر و روح القدس یعنی سه شخصیت تثلیث دارای یک ذات هستند که همان یهوه می باشد. یعنی ذات پدر و پسر و روح القدس ذاتی واحد است که او همان یهوه می باشد.
</div>
<hr>
<!-------------------------------------->
<div class="question">۱۰ - آیا همه راهها به خدا ختم می شوند ؟</div>
<div class="answer">
  یک جمله بسیار فریبنده و ریاکارانه و حسابشده ای که تقریبا به همه انسانها در هر مملکت و فرهنگی تلقین میکنند این است که " همه راهها به خدا ختم میشود " تا به این وسیله مردم را برای کشاندن به مسیر انحرافی خودشان آماده و ترغیب کنند. البته که درست است که از هر طرف کوه که بالا بروی به قله کوه میرسی ولی موضوع این است که با چه طنابی باید بالا رفت؟
  طنابی که با معیارهای آسمانی همخوانی نداشته باشه وسط راه به پایین پرتت میکند. با هر طنابی که نمیشود پایین و بالا رفت. طناب استاندارد طنابی ست که امتحانش را پس داده باشد.
  </div>
<hr>
<!-------------------------------------->
<div class="question">۱۱ - معنای فیض و لطف خدا ؟</div>
<div class="answer">
  فیض و لطف الهی مفاهیم دیگری نیز از جمله بخشش، نجات، تجربۀ حیات، توبه و محبت خدا را در بر می‌گیرد. واژۀ عبری آن به معنای "وفاداری" و یا "محبت پابرجای"، محبوب به محبوبۀ خویش است. لطفی که محبوبه شایستگی دریافت آن را ندارد زیرا که همیشه علیه محبوب خود طغیان کرده است اما دلدار برای عشق و لطف خود دلایلی دارد که دلداده از آن بی‌خبرست. لطف الهی همیشه فراتر از بایدهای اخلاقی و ضوابط مذهبی عمل کرده است (تثنیه ۷:‏۷ و ‏۸). در نوشته‌های انبیا قلب و روح تازه، ثمرۀ لطف خداست (حزقیال ۳۶:‏۲۶ ؛ ارمیا ۳۱:‏۳۱-۳۴).
</div>
<hr>
<!-------------------------------------->
<div class="question">۱۲ - هدف از آفرینش چه بود ؟</div>
<div class="answer">
  این سؤال بسیار مهمی است که دانستن پاسخ آن می تواند زندگی مردم را تبدیل کند. کتاب مقدس برای این مطلب پاسخ قوی ای دارد:
هدف از آفرینش، مشارکت و مصاحبت و رفاقت انسان با خدا بود.
هدف از آفرینش این بود که انسان از طریق زیبایی و شگفتی های طبیعت و نیز به خاطر اشتیاقی که خدا در دل انسان برای پرستش نهاده بود، باعث خشنودی خدا شود و لبخند بر چهره خدا آورد.
هدف از آفرینش این بود که خدا با این کار محبتش را به انسانها و طبیعت و حیوانات ابراز کند. خدا از طریق آفرینش خود نشان داد که او خدای پر از محبت است و می خواهد بخاطر ذات محبتش، خلفت زیبایی را بیافریند و هدیه زندگی را به انسانها و طبیعت و حیوانات اعطا کند.
</div>
<hr>
<!-------------------------------------->
<div class="question">۱۳ - دعا چه اهمیّتی برای ما دارد ؟</div>
<div class="answer">
  " آنقدر عشق و علاقه آسماني در نهاد من بوده تا در پی مسيح بروم . بنابراين آن حيات جاودانی را كه هميشه در مغزم بوده فكر می كنم الحال يافته ام." (جاناتان ادواردز)‎
  ‎خدا از ما افراد تحصيلكرده و ‏زيرك يا سخنران مبرز نمی خواهد. بلكه خدا به مردان با ايمان و صميمی كه لبريز از محبت و مهر مسيح شده باشند ‏احتياج دارد‎.‎ ‎
  " ‎دعا نيروی نامرئی است كه اگر از خدا باشد در همان شخص بی خدا هم می ‏تواند تاثير عميقی ‏ببخشد‎." (انجمن برادری ويليام كاری‎)
  ‎ ‎
  ‎ما نبايد دعا را يك وظيفه و يا سرگرمی برای خود بدانيم . در اين صورت ارزش ‏آنرا كاسته و قلب های ما از مفهوم حقيقی دعا دور خواهد شد‎ / ‎بايد در بهترين ساعات روز، خود را به ‏دعا مشغول سازيم و آنرا از هر برنامه روزانه خود مهم تر و مؤثرتر بدانيم / ‎هر چه ‏باشيم و هر چه مهم باشيم و موفق، اگر دعا در زندگی ما حكم فرما نباشد باز خلاء بزرگی در زندگی ما مشاهده ‏خواهد شد كه پر كردن آن فقط وفقط بوسيلهء دعا است و بس.
  </div>
<hr>
<!-------------------------------------->
<div class="question">۱۴ - فواید دعا چیست ؟</div>
<div class="answer">دعا رابطه انسان را با خدا شیرین می کند .
نمونه اول دانیال با اینکه وزیر بو د و گرفتار یها و مشکلات فراوان داشت و وقت کم داشت اما فهمیده بود که در دعا، رابطه شیرین با خدا خواهد داشت.
دانیال 6 : 11 اما چون‌ دانیال‌ دانست‌ كه‌ نوشته‌ امضا شده‌ است‌ به‌ خانه‌ خود درآمد وپنجره‌های‌ بالاخانه‌ خود را به‌ سمت‌ اورشلیم‌ باز نموده‌، هر روز سه‌ مرتبه‌ زانو می‌زد و دعا می‌نمود و چنانكه‌ قبل‌ از آن‌ عادت‌ می‌داشت‌، نزد خدای‌ خویش‌ دعا می‌كرد و تسبیح‌ می‌خواند.
ونمونه دوم موسی مثل دو دوست با خداوند صحبت می کرد، موسی هم با تمام سختیها ومشکلات وکار زیاد به خداوند وقت می داد چون درک کرده بود، دعا رابطه اورا به خدا وند شیرینتر میکند . خروج و خداوند با موسی‌ روبرو سخن‌ می‌گفت،مثل‌ شخصی‌ كه‌ با دوست‌ خود سخن‌ گوید. پس‌ به‌ اردو برمی‌ گشت‌. نمونه سوم داود با آنکه پادشاه بود و گرفتاریها و مشکلات فراوان داشت و وقت کم داشت اما فهمیده بود که که در دعا ، رابطه شیرین با خدا خواهد داشت .
مزامیر 27 : 4 یك‌ چیز از خداوند خواستم‌ و آن‌ را خواهم‌ طلبید: كه‌ تمام‌ ایام‌ عمرم‌ در خانة‌ خداوند ساكن‌ باشم‌ تا جمال‌ خداوند را مشاهده‌ كنم‌ و در هیكل‌ او تفكر نمایم‌.
نمونه چهارم افسر رومی با اینکه افسر بود و و گرفتاریها و مشکلات فراوان داشت و وقت کم داشت اما فهمیده بود که که در دعا، رابطه شیرین با خدا خواهد داشت .

</div>
<hr>
