.mehdi{
  direction: rtl;
  text-align: center;
  padding: 20px;
}
.mehdiinfo{
  text-align: center;
  font-weight: bold;
  color: royalblue;
  font-size: 16px;
}
.question{
  width: 100%;
  direction: rtl;
  color: brown;
  text-align: right;
  padding-right: 20px;;
}
.answer{
  width: 100%;
  direction: rtl;
  color:royalblue;
  text-align: right;
  padding-right: 30px;
  padding-left: 20px;
  padding-top: 5px;

}
