<div class="homeGrid">
    <div>
        <span class="titleSpan">
         کمک به دیگران<br/>
        </span>
        اشتیاق ما این است که ببینیم جان ها نجات پیدا میکنند و مردم در روح القدس تعمید گرفته در پیروزی گام برمیدارند. ما میخواهیم مردم در تمام قسمت های زندگی شفا را تجربه نمایند. روحانی، روانی، احساسی، فیزیکی، مالی و اجتماعی. هدف ما این است که ببینیم مردم از تمامیت زندگی خود لذت میبرند. روح القدس یاری دهنده است، و اوست که به ما اشتیاق داده تا به مردم آسیب دیده یاری رسانیم.
    </div>
    <div>
        <span class="titleSpan">
         تعالی و کمال<br/>
        </span>
        دید و رویای ما  این است که به کمال دست یابیم. ما خدای متعالی را خدمت می نماییم، و او لایق است که اشخاصی ارجمند بر خدمات عالی او نظارت داشته باشند. ما خود را وقف کرده ایم به صداقت، شرافت، شفقت، و کاملیت. بالاتر از همه اینها خواسته قلبی ما این است که به طریق برتر دست یابیم.
   </div>
   <div>
    <span class="titleSpan">
     محبت<br/>
    </span>
      عیسی مسیح می گوید: حکمی تازه به شما میدهم، و آن این که یکدیگر را محبت کنید. همان گونه که من شما را محبت کردم، شما نیز باید یکدیگر را محبت نمایید. از همین محبت شما به یکدیگر همه پی خواهند برد که شاگرد من هستید
   </div>

</div>


<div id="mainText">

    وقتی که مسیحی میشوی دیگر از آن خودت نیستی. روحت به عیسای مسیح تعلق دارد، قلبت می شود جایگاه روح راستی و
جسمت می شود معبد خدا. یعنی درب قلبت را باز کرده ای و محبت مسیحی وارد قلبت شده و مثل ی دانه ی خدردل
در آن جا خوش کرده اما چون به آن آب و غذا و هوای الزم، دعا و کالم و مشارکت کافی نداده ای رشد نکرده و محزون شدده
است.
وقتی در عیسای مسیح و در روح راستی رشد می کنی لحظه ای می رسد که مسیحاگونه می شوی. ی تغییر بدزرگ در تدو
اتفاق می افتد. ی تغییر خیلی خیلی بزرگ . تغییری که حتی فرشتگان آسمان هم خوشحال می شوند و برایت جشدن مدی
گیرند. برای بعضی ها این تغییر پس از ی هفته، ی ماه، ی سال پس از ایمان به مسیح اتفاق می افتد و برای بعضی دیگدر
چندین سال بعد و برای عده ی اندکی هیچ وقت اتفاق نمی افتد. یکی از آن تغییراتی که ممکدن
است برای شما رخ دهد این است که نرم دل میشوی . اول برای خودت و فرزندان و همسر و خانواده ات و پدس از آن بدرای
همسایه ها همشهری ها و هموطن های خودت و بعد برای همه ی دنیا. آنقدر تغییر می کنی که دیگر در هیچ چیزی بدی نمی
بینی . نه این که بدی نباشد بلکه بدی را تو نمی بینی . این تغییر آنقدر واضح است که نه تنها خودت متوجه ی آن میدشدوی
بلکه اطرافیانت هم متعجب می شوند. آنها ی جور دیگر به تو نگاه می کنند. نگاهی مخلوط از تعجب و تحسین و تمسخر. اگر
تعجب می کنند متعجب نشو . اگر تحسین می کنند مغرور نشو و اگر تمسخر می کنند ناراحت نشو، زیرا این تغییرات از خودت
نیست ، بلکه با دستان عیسای مسیح، با فیض روح القدس و با اراده ی خداوند بوده است .
</div>
<app-collapse></app-collapse>
<div class="mainNews">

</div>

